/* Homepage */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.header {
    font-size: 42px;
    text-align: center;
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    font-size: 24px;
    text-align: center;
}
div {
    text-align:center;
}
table {
    margin: 0 auto;
    width: 900px
}
th, td {
    width: 50%;
    font-size: 34px
}
img {
    height:auto;
    width: 900px;
}
