/* Homepage */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.header {
    font-size: 33px;
    text-align: center;
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    font-size: 17px;
}
div {
    text-align:center;
}
table {
    margin: 0 auto;
    width: 1000px
}
th, td {
    width: 50%;
}